@page "/fetchdata"
@inject HttpClient Http
@using System.ComponentModel.DataAnnotations


@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                var img = @product.ProductID.ToString();
                <tr>
                    <td><img src="images/@product.Image" width="100px" /> @product.ProductName</td>
                    <td>$@product.UnitPrice</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Product[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetJsonAsync<Product[]>("sample-data/products.json");
    }

    class Product
    {
        public int ProductID { get; set; }
        public string ProductName { get; set; }
        public decimal UnitPrice { get; set; }
        public int UnitsInStock { get; set; }
        public string Image { get; set; }
    }
}